:root {
    --sidePanelBackground: #599;
    --sidePanelText: #123;
    --headerText: #123;
    --headerBackground: #488;
    --modalBackground: #499;
    --modalOcclusionBackground: rgba(0, 0, 0, 0.75);
    --hiddenCellColor: #444;
    --inputBorder: #222;
    --inputText: #123;
    --inputBackground: #6AA;
    --disabledInputBackground: #488;
    --optgroupBackground: #488;
    --tableTextColor: #123;
    --tableBackgroundColor: #6AA;
    --tableBorderColor: #444;
    --optionRowBackground: #8BB;
    --defaultBackgroundColor: #6AA;
    --defaultBorderColor: #444;
    --defaultTextColor: #123;
    --rowEven: #499;
    --rowOdd: #5AA;
    --checkboxBorder: #222;
    --checkboxDisabled: #444;
    --checkboxEnabled: radial-gradient(circle, #FA4, #F64);
    --textSelectionBackground: #375;
    --textSelectionColor: #123;
    --rowSelection: #08B;
    --rowSelectionMajor: #06B;
    --editedCellBackbround: #57B;
    --notificationTextColor: #123;
    --infoNotificationBackground: #88F;
    --warnNotificationBackground: #FB8;
    --errorNotificationBackground: #F44;
    --sortAscending: linear-gradient(180deg, #488, #255);
    --sortDescending: linear-gradient(180deg, #255, #488);
    --tableBackground: #58B;
    --tableText: #000;
    --tableBorder: #222;
    --tableDistinct: #222;
    --tableRegular: #466;
    --tableRed: #F00;
    --tableLine: #122;
    --buttonBackground: #6AA;
    --buttonOutline: #444;
    --buttonOutlineHover: #44B;
    --buttonOutlineActive: #00B;
    --scrollbarHandle: #244;
    --scrollbarBackground: #488;
}
