:root {
    --lighterGrayBackground: #8BB;
    --lightGrayBackground: #6AA;
    --sidePanelBackground: #599;
    --grayBackground: #488;
    --grayBorder: #888;
    --darkBorder: #444;
    --darkBackground: #444;
    --darkText: #444;
    --darkerBorder: #222;
    --darkerText: #123;
    --rowEven: #499;
    --rowOdd: #5AA;
    --confirm: radial-gradient(circle, #FA4, #F64);
    --textSelection: #375;
    --selection: #08B;
    --selectionMajor: #06B;
    --selectionCell: #57B;
    --info: #88F;
    --warn: #FB8;
    --error: #F44;
    --sortMin: #366;
    --sortMax: #6BB;
    --tableBackground: #58B;
    --tableBorder: #222;
    --tableDistinct: #222;
    --tableRegular: #466;
    --tableRed: #F00;
    --tableLine: #122;
    --buttonBackground: #6AA;
    --buttonOutline: #444;
}