:root {
    --sidePanelBackground: #599;
    --sidePanelText: #123;
    --headerText: #123;
    --headerBackground: #488;
    --modalBackground: #499;
    --modalOcclusionBackground: rgba(0, 0, 0, 0.75);
    --hiddenCellColor: #444;
    --inputBorder: #222;
    --inputText: #123;
    --inputBackground: #6AA;
	--selectBorder: #222;
    --selectText: #123;
    --selectBackground: #6AA;
    --disabledInputBackground: #488;
    --optgroupBackground: #488;
    --tableTextColor: #123;
    --tableBackgroundColor: #6AA;
    --tableBorderColor: #444;
    --optionRowBackground: #8BB;
    --defaultBackgroundColor: #6AA;
    --defaultBorderColor: #444;
    --defaultTextColor: #123;
    --rowEven: #499;
    --rowOdd: #5AA;
    --checkboxBorder: #222;
    --checkboxDisabled: #444;
    --checkboxEnabled: radial-gradient(circle, #FA4, #F64);
    --textSelectionBackground: #336699FE;
    --textSelectionColor: #000;
    --rowSelection: #08B;
    --rowSelectionMajor: #06B;
    --editedCellBackbround: #57B;
    --notificationTextColor: #123;
    --infoNotificationBackground: #88F;
    --warnNotificationBackground: #FB8;
    --errorNotificationBackground: #F44;
    --sortAscending: linear-gradient(180deg, #488, #255);
    --sortDescending: linear-gradient(180deg, #255, #488);
    --thrustCurveTableBackground: #58B;
    --thrustCurveTableText: #000;
    --thrustCurveTableBorder: #222;
    --thrustCurveTableDistinct: #222;
    --thrustCurveTableRegular: #466;
    --thrustCurveTableRed: #F00;
    --thrustCurveTableLine: #122;
    --buttonBackground: #6AA;
    --buttonOutline: #444;
    --buttonOutlineHover: #44B;
    --buttonOutlineActive: #00B;
    --scrollbarHandle: #244;
    --scrollbarBackground: #488;
}
