:root {
    
    --lighterGrayBackground: #DDD;
    
    --lightGrayBackground: #BBB;
    
    --sidePanelBackground: #AAA;
    
    --grayBackground: #888;
    --grayBorder: #888;
    
    --darkBorder: #444;
    --darkBackground: #444;
    --darkText: #444;
    
    --darkerBorder: #222;
    --darkerText: #222;
    
    --rowEven: #AAA;
    --rowOdd: #CCC;
    
    --confirm: #4B4;
    
    --textSelection: #77F;
    --selection: #88D;
    --selectionMajor: #66F;
    --selectionCell: #77F;
    
    --info: #88F;
    --warn: #FB8;
    --error: #F44;
    
    --sortMin: #888;
    --sortMax: #F44;
    
}