:root {
    --sidePanelBackground: #AAA;
    --sidePanelText: #222;
    --headerText: #222;
    --headerBackground: #888;
    --modalBackground: #CDCDCD;
    --modalOcclusionBackground: rgba(0, 0, 0, 0.75);
    --hiddenCellColor: #444;
    --inputBorder: #222;
    --inputText: #222;
    --inputBackground: #BBB;
	--selectBorder: #222;
    --selectText: #222;
    --selectBackground: #BBB;
    --disabledInputBackground: #999;
    --optgroupBackground: #999;
    --tableTextColor: #222;
    --tableBackgroundColor: #BBB;
    --tableBorderColor: #444;
    --optionRowBackground: #DDD;
    --defaultBackgroundColor: #BBB;
    --defaultBorderColor: #444;
    --defaultTextColor: #222;
    --rowEven: #AAA;
    --rowOdd: #CCC;
    --checkboxBorder: #222;
    --checkboxDisabled: #444;
    --checkboxEnabled: #4B4;
    --textSelectionBackground: #77F;
    --textSelectionColor: #222;
    --rowSelection: #88D;
    --rowSelectionMajor: #66F;
    --editedCellBackbround: #77F;
    --notificationTextColor: #222;
    --infoNotificationBackground: #88F;
    --warnNotificationBackground: #FB8;
    --errorNotificationBackground: #F44;
    --sortAscending: linear-gradient(180deg, #888, #F44);
    --sortDescending: linear-gradient(180deg, #F44, #888); 
    --tableBackground: #AAA;
    --tableText: #000;
    --tableBorder: #222;
    --tableDistinct: #333;
    --tableRegular: #888;
    --tableRed: #F00;
    --tableLine: #048;
    --buttonBackground: #BBB;
    --buttonOutline: #444;
    --buttonOutlineHover: #44B;
    --buttonOutlineActive: #00B;
    --scrollbarHandle: #666;
    --scrollbarBackground: #DDD;
}
