:root {
    --sidePanelBackground: #282828;
    --sidePanelText: #AAA;
    --headerText: #AAA;
    --headerBackground: #222;
    --modalBackground: #222;
    --modalOcclusionBackground: rgba(0, 0, 0, 0.75);
    --hiddenCellColor: #111;
    --inputBorder: #000;
    --inputText: #BBB;
    --inputBackground: #333;
    --disabledInputBackground: #222;
    --optgroupBackground: #222;
    --tableBackgroundColor: #333;
    --tableBorderColor: #555;
    --optionRowBackground: #444;
    --defaultBackgroundColor: #333;
    --defaultBorderColor: #555;
    --defaultTextColor: #AAA;
    --rowEven: #282828;
    --rowOdd: #383838;
    --confirm: #262;
    --checkboxBorder: #000;
    --checkboxDisabled: #111;
    --checkboxEnabled: #262;
    --textSelectionBackground: #004;
    --textSelectionColor: #AAA;
    --rowSelection: #224;
    --rowSelectionMajor: #226;
    --editedCellBackbround: #336;
    --infoNotificationBackground: #228;
    --warnNotificationBackground: #842;
    --errorNotificationBackground: #822;
    --sortAscending: linear-gradient(180deg, #222, #B22);
    --sortDescending: linear-gradient(180deg, #B22, #222);
    --tableBackground: #555;
    --tableBorder: #000;
    --tableDistinct: #000;
    --tableRegular: #444;
    --tableRed: #F00;
    --tableLine: #024;
    --buttonBackground: radial-gradient(#222, #111);
    --buttonOutline: #000;
}
