:root {
    
    --lighterGrayBackground: #444;
    
    --lightGrayBackground: #333;
    
    --sidePanelBackground: #282828;
    
    --grayBackground: #222;
    --grayBorder: #222;
    
    --darkBorder: #666;
    --darkBackground: #111;
    --darkText: #CCC;
    
    --darkerBorder: #BBB;
    --darkerText: #AAA;
    
    --rowEven: #282828;
    --rowOdd: #383838;
    
    --confirm: #262;
    
    --textSelection: #F22;
    --selection: #446;
    --selectionMajor: #226;
    --selectionCell: #336;
    
    --info: #228;
    --warn: #842;
    --error: #822;
    
    --sortMin: #222;
    --sortMax: #B22;
    
}