:root {
    --sidePanelBackground: #181818;
    --sidePanelText: #888;
    --headerText: #888;
    --headerBackground: #111;
    --modalBackground: #222;
    --modalOcclusionBackground: rgba(0, 0, 0, 0.75);
    --hiddenCellColor: #111;
    --inputBorder: #000;
    --inputText: #BBB;
    --inputBackground: #333;
	--selectBorder: #000;
    --selectText: #BBB;
    --selectBackground: #333;
    --disabledInputBackground: #222;
    --optgroupBackground: #222;
    --tableTextColor: #AAA;
    --tableBackgroundColor: #111;
    --tableBorderColor: #383838;
    --optionRowBackground: #222;
    --defaultBackgroundColor: #111;
    --defaultBorderColor: #444;
    --defaultTextColor: #AAA;
    --rowEven: #181818;
    --rowOdd: #202020;
    --checkboxBorder: #111;
    --checkboxDisabled: #080808;
    --checkboxEnabled: #248;
    --textSelectionBackground: #004;
    --textSelectionColor: #AAA;
    --rowSelection: #224;
    --rowSelectionMajor: #226;
    --editedCellBackbround: #224;
    --notificationTextColor: #000;
    --infoNotificationBackground: #228;
    --warnNotificationBackground: #842;
    --errorNotificationBackground: #822;
    --sortAscending: linear-gradient(180deg, var(--headerBackground), #228);
    --sortDescending: linear-gradient(180deg, #228, var(--headerBackground));
    --thrustCurveTableBackground: #333;
    --thrustCurveTableText: #000;
    --thrustCurveTableBorder: #000;
    --thrustCurveTableDistinct: #000;
    --thrustCurveTableRegular: #222;
    --thrustCurveTableRed: #246;
    --thrustCurveTableLine: #04B;
    --buttonBackground: radial-gradient(#113, #000);
    --buttonOutline: #000;
    --buttonOutlineHover: #44B;
    --buttonOutlineActive: #00B;
    --scrollbarHandle: #224;
    --scrollbarBackground: #080808;
}
