:root {
    --sidePanelBackground: #181818;
    --sidePanelText: #888;
    --headerText: #888;
    --headerBackground: #111;
    --modalBackground: #222;
    --modalOcclusionBackground: rgba(0, 0, 0, 0.75);
    --hiddenCellColor: #111;
    --inputBorder: #000;
    --inputText: #BBB;
    --inputBackground: #333;
	--selectBorder: #000;
    --selectText: #BBB;
    --selectBackground: #333;
    --disabledInputBackground: #222;
    --optgroupBackground: #222;
    --tableTextColor: #AAA;
    --tableBackgroundColor: #111;
    --tableBorderColor: #383838;
    --optionRowBackground: #222;
    --defaultBackgroundColor: #111;
    --defaultBorderColor: #444;
    --defaultTextColor: #AAA;
    --rowEven: #181818;
    --rowOdd: #202020;
    --checkboxBorder: #111;
    --checkboxDisabled: #080808;
    --checkboxEnabled: #B21;
    --textSelectionBackground: #600;
    --textSelectionColor: #AAA;
    --rowSelection: #522;
    --rowSelectionMajor: #711;
    --editedCellBackbround: #511;
    --notificationTextColor: #000;
    --infoNotificationBackground: #228;
    --warnNotificationBackground: #842;
    --errorNotificationBackground: #822;
    --sortAscending: linear-gradient(180deg, var(--headerBackground), #811);
    --sortDescending: linear-gradient(180deg, #811, var(--headerBackground));
    --tableBackground: #333;
    --tableText: #000;
    --tableBorder: #000;
    --tableDistinct: #000;
    --tableRegular: #222;
    --tableRed: #D00;
    --tableLine: #D42;
    --buttonBackground: radial-gradient(#411, #000);
    --buttonOutline: #000;
    --buttonOutlineHover: #B40;
    --buttonOutlineActive: #F40;
    --scrollbarHandle: #611;
    --scrollbarBackground: #080808;
}
