:root {
    --sidePanelBackground: #001;
    --sidePanelText: #079;
    --headerText: #369;
    --headerBackground: #000818;
    --modalBackground: #000818;
    --modalOcclusionBackground: rgba(0, 0, 0, 0.75);
    --hiddenCellColor: #000;
    --inputBorder: #035;
    --inputText: #48B;
    --inputBackground: #012;
    --disabledInputBackground: #001;
    --optgroupBackground: #001;
    --tableBackgroundColor: #000B18;
    --tableBorderColor: #025;
    --optionRowBackground: #002030;
    --defaultBackgroundColor: #012;
    --defaultBorderColor: #036;
    --defaultTextColor: #48B;
    --rowEven: #001020;
    --rowOdd: #001428;
    --checkboxBorder: #003;
    --checkboxDisabled: #000;
    --checkboxEnabled: radial-gradient(#0B4, #063, #020);
    --textSelectionBackground: #036;
    --textSelectionColor: #48B;
    --rowSelection: #001B18;
    --rowSelectionMajor: #00140B;
    --editedCellBackbround: #00120D;
    --notificationTextColor: #000;
    --infoNotificationBackground: #228;
    --warnNotificationBackground: #842;
    --errorNotificationBackground: #822;
    --sortAscending: linear-gradient(180deg, #001828, #036);
    --sortDescending: linear-gradient(180deg, #036, #001828);
    --tableBackground: #044;
    --tableBorder: #000;
    --tableDistinct: #000;
    --tableRegular: #033;
    --tableRed: #B00;
    --tableLine: #011;
    --buttonBackground: radial-gradient(#023, #000);
    --buttonOutline: #012;
    --buttonOutlineHover: #44B;
    --buttonOutlineActive: #00B;
    --scrollbarHandle: #012;
    --scrollbarBackground: #001;
}
