:root {
    --sidePanelBackground: #000;
    --sidePanelText: #fff;
    --headerText: #fff;
    --headerBackground: #000;
    --modalBackground: #000;
    --modalOcclusionBackground: rgba(0, 0, 0, 0.66);
    --hiddenCellColor: #000;
    --inputBorder: #111;
    --inputText: #FFF;
    --inputBackground: #080808;
	--selectBorder: #111;
    --selectText: #FFF;
    --selectBackground: #080808;
    --disabledInputBackground: #100;
    --optgroupBackground: #111;
    --tableTextColor: #fff;
    --tableBackgroundColor: #000;
    --tableBorderColor: #666;
    --optionRowBackground: #080808;
    --defaultBackgroundColor: #000;
    --defaultBorderColor: #fff;
    --defaultTextColor: #fff;
    --rowEven: #000;
    --rowOdd: #080808;
    --checkboxBorder: #666;
    --checkboxDisabled: #000;
    --checkboxEnabled: #0B0;
    --textSelectionBackground: #444;
    --textSelectionColor: #fff;
    --rowSelection: #222;
    --rowSelectionMajor: linear-gradient(to bottom, #222, #444, #222);
    --editedCellBackbround: #111;
    --notificationTextColor: #fff;
    --infoNotificationBackground: #006;
    --warnNotificationBackground: #660;
    --errorNotificationBackground: #600;
    --sortAscending: linear-gradient(180deg, var(--headerBackground), #444);
    --sortDescending: linear-gradient(180deg, #444, var(--headerBackground));
    --tableBackground: #000;
    --tableText: #fff;
    --tableBorder: #fff;
    --tableDistinct: #fff;
    --tableRegular: #444;
    --tableRed: #F00;
    --tableLine: #888;
    --buttonBackground: #000;
    --buttonOutline: #666;
    --buttonOutlineHover: #fff;
    --buttonOutlineActive: #FFF;
    --scrollbarHandle: #BBB;
    --scrollbarBackground: #111;
}
