:root {
    --sidePanelBackground: #B00;
    --sidePanelText: #FFF;
    --headerText: #FFF;
    --headerBackground: #F00;
    --modalBackground: #FF0;
    --modalOcclusionBackground: rgba(255, 0, 0, 0.5);
    --hiddenCellColor: #F00;
    --inputBorder: #FF0;
    --inputText: #FFF;
    --inputBackground: #F00;
    --disabledInputBackground: #B00;
    --optgroupBackground: #B00;
    --tableBackgroundColor: #FF0;
    --tableBorderColor: #B00;
    --optionRowBackground: #FF0;
    --defaultBackgroundColor: #F00;
    --defaultBorderColor: #F00;
    --defaultTextColor: #000;
    --rowEven: #DD0;
    --rowOdd: #FF0;
    --checkboxBorder: #FF0;
    --checkboxDisabled: #000;
    --checkboxEnabled: #F00;
    --textSelectionBackground: #FF0;
    --textSelectionColor: #000;
    --rowSelection: #D00;
    --rowSelectionMajor: #F00;
    --editedCellBackbround: #FD0;
    --notificationTextColor: #000;
    --infoNotificationBackground: #00F;
    --warnNotificationBackground: #FF0;
    --errorNotificationBackground: #F00;
    --sortAscending: linear-gradient(180deg, #F00, #FF0);
    --sortDescending: linear-gradient(180deg, #FF0, #F00);
    --tableBackground: #FF0;
    --tableBorder: #F00;
    --tableDistinct: #F40;
    --tableRegular: #FB0;
    --tableRed: #F00;
    --tableLine: #F00;
    --buttonBackground: radial-gradient(circle, #FF0, #FB0, #F40, #F00);
    --buttonOutline: #F00;
    --buttonOutlineHover: #F80;
    --buttonOutlineActive: #880;
    --scrollbarHandle: #FF0;
    --scrollbarBackground: #F00;
}
