:root {
    --sidePanelBackground: #222;
    --sidePanelText: #8BB;
    --headerText: #BBB;
    --headerBackground: #000B;
    --modalBackground: #222;
    --modalOcclusionBackground: rgba(0, 0, 0, 0.75);
    --hiddenCellColor: #000D;
    --inputBorder: #000;
    --inputText: #BBB;
    --inputBackground: #0008;
	--selectBorder: #000;
    --selectText: #BBB;
    --selectBackground: #111;
    --disabledInputBackground: #000D;
    --optgroupBackground: #222;
    --tableTextColor: #BBB;
    --tableBackgroundColor: url(../img/Photos/NightSky.jpg);
    --tableBorderColor: #0008;
    --optionRowBackground: #222;
    --defaultBackgroundColor: #111;
    --defaultBorderColor: #000;
    --defaultTextColor: #AAA;
    --rowEven: #0B0B0B66;
    --rowOdd: #00000066;
    --checkboxBorder: #111;
    --checkboxDisabled: #000B;
    --checkboxEnabled: #28BB;
    --textSelectionBackground: #004;
    --textSelectionColor: #AAA;
    --rowSelection: #2664;
    --rowSelectionMajor: #4BB4;
    --editedCellBackbround: #0008;
    --notificationTextColor: #000;
    --infoNotificationBackground: #228;
    --warnNotificationBackground: #842;
    --errorNotificationBackground: #822;
    --sortAscending: linear-gradient(180deg, var(--headerBackground), #288B);
    --sortDescending: linear-gradient(180deg, #288B, var(--headerBackground));
    --thrustCurveTableBackground: #0008;
    --thrustCurveTableText: #888;
    --thrustCurveTableBorder: #444;
    --thrustCurveTableDistinct: #444;
    --thrustCurveTableRegular: #222;
    --thrustCurveTableRed: #0BB;
    --thrustCurveTableLine: #288;
    --buttonBackground: radial-gradient(#022, #000);
    --buttonOutline: #000;
    --buttonOutlineHover: #48B;
    --buttonOutlineActive: #0FF;
    --scrollbarHandle: #4BB8;
    --scrollbarBackground: #0008;
}
