body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    
    overflow: hidden; /* Small screen? ¯\_(ツ)_/¯ */
    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #444;
}

textarea {
    font-family: inherit;
    font-size: inherit;
    
    word-break: keep-all;
}

select {
    width: 100%;
    height: 100%;
}

table {
    border-spacing: 0px;
    border-collapse: collapse;
    width: 100%;
}

tr {
    height: 24px;
}

td {
    padding: 0;
}

img.mini-button {
    width: 19px;
    height: 19px;
    margin: 4px 0px 0px 4px;
}

input {
    font-size: inherit;
    font-family: inherit;
}

input[type="checkbox"] {
    box-sizing: border-box;
    appearance: none;
    -webkit-appearance: none;
    margin: 2px auto 1px auto;
    width: 19px;
    height: 19px;
    background: #444;
    border: 1px #222 solid;
    outline: none;
}

input[type="checkbox"]:checked {
    background: #4B4;
}

/**/

#option-row {
    width: 100vw;
    height: 40px;
    padding: 4px;
    box-sizing: border-box;
    background: #DDD;
}

.option-container {
    display: flex;
}

.flex-spacer {
    flex: auto;
    background: #CCC;
    line-height: 28px;
    font-size: 20px;
    text-align: center;
}

.option-container > img {
    width: 32px;
    height: 32px;
}

#option-container-left {
    flex-direction: row;
}

#option-container-left > img {
    margin-right: 4px;
}

#option-container-right {
    flex-direction: row-reverse;
}

#option-container-right > img {
    margin-left: 4px;
}

/**/

.option-button {
    cursor: pointer;
}

.option-button:hover {
    filter: brightness(1.2) contrast(1.2);
    outline: #44B 2px solid;
    outline-offset: -2px;
}

.option-button:active {
    filter: brightness(0.8) contrast(0.8);
    outline: #00B 2px solid;
    outline-offset: -2px;
}

/**/

#list-container {
    width: 100%;
    height: calc(100vh - 40px);
    background: #BBB;
}

.content-table {
    white-space: nowrap;
    overflow: auto;
    
    height: 100%;
    width: auto;
    background: #BBB;
    color: white;
}

.content-column {
    position: relative;
    display: inline-block;
    white-space: normal;
    top: 24px;
    
    width: 400px;
    height: auto;
}

.content-column-resizer {
    position: absolute;
    top: 0px;
    right: -2px;
    
    width: 8px;
    height: 24px;
    
    cursor: ew-resize;
}

.content-header-container {
    z-index: 99;
    position: fixed;
    white-space: nowrap;
    
    height: 24px;
}

.content-header {
    position: relative;
    display: inline-block;
    white-space: normal;
    word-break: break-all;
    
    box-sizing: border-box;
    border-color: #444;
    border-style: solid;
    border-width: 0px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    
    width: 100%;
    height: 24px;
    padding: 2px 4px 2px 4px;
    line-height: 18px;
    font-size: 16px;
    
    overflow: hidden;
    
    background: #999;
    color: #222;
}

.content-cell {
    box-sizing: border-box;
    border-color: #444;
    border-style: solid;
    border-width: 0px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    
    width: 100%;
    height: 24px;
    
    line-height: 19px;
    font-size: 16px;
    overflow: hidden;
    color: #222;
}

.content-cell-content {
    box-sizing: border-box;
    overflow: hidden;
    word-break: break-all;
    
    text-align: inherit;
    font-size: inherit;
    color: inherit;
    
    width: 100%;
    height: 100%;
    padding: 2px 4px 2px 4px;
}

input.content-cell-content {
    padding-left: 3px;
}

.selected {
    background: #88F !important;
}

.selected.last {
    background: #66F !important;
}

.selected.hideCell {
    color: #444 !important;
    background: #444 !important;
}

.selected.last.hideCell {
    color: #444 !important;
    background: #444 !important;
}

.hideCell {
    color: #444 !important;
    background: #444 !important;
}

.content-cell:nth-child(even) {
    background: #AAA;
}

.content-cell:nth-child(odd) {
    background: #CCC;
}

/**/

.fullscreen-box {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 100%;
    height: 100%;
    
    z-index: 998;
}

.fullscreen-grayout {
    position: absolute;
    
    width: 100%;
    height: 100%;
    
    background: #444;
    opacity: 0.66;
}

.fullscreen-content {
    z-index: 999;
    
    background: #DDD;
    border: #444 2px solid;
    padding: 8px;
    
    width: auto;
    height: auto;
}

#save-box > div.fullscreen-content > div {
    width: auto;
    height: 64px;
    margin-bottom: 8px;
    padding-right: 8px;
}

#save-box > div.fullscreen-content > div:last-child {
    margin-bottom: 0;
}

#save-box > div.fullscreen-content > div img {
    width: 64px;
    height: 64px;
    float: left;
}

#save-box > div.fullscreen-content > div div {
    line-height: 64px;
    float: left;
    font-size: 24px;
    padding-left: 8px;
}

#open-box > div.fullscreen-content > div {
    width: auto;
    height: 64px;
    margin-bottom: 8px;
    padding-right: 8px;
}

#open-box > div.fullscreen-content > div:last-child {
    margin-bottom: 0;
}

#open-box > div.fullscreen-content > div img {
    width: 64px;
    height: 64px;
    margin-left: 8px;
    float: left;
}

#open-box > div.fullscreen-content > div img:first-child {
    margin-left: 0;
}

#open-box > div.fullscreen-content > div div {
    line-height: 64px;
    float: left;
    font-size: 24px;
    padding-left: 8px;
}

#cache-box {
    z-index: 9999;
}

#cache-box > div.fullscreen-content {
    width: 800px;
    height: 600px;
    padding: 0;
    
    font-size: 32px;
    
    text-align: center;
}

#cache-box > div.fullscreen-content > div {
    width: 800px;
    height: 560px;
    
    background: #999;
    padding-top: 2px;
    
    display: flex;
    flex-direction: column;
    
    overflow-y: auto;
}

#cache-box > div.fullscreen-content > div div {
    width: calc(100% - 4px);
    height: 32px;
    
    margin: 0px 2px 2px 2px;
    
    line-height: 28px;
    font-size: 20px;
    
    box-sizing: border-box;
    background: #bbb;
    border: #444 2px solid;
}

/**/

.notify-container {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
    
    width: auto;
    height: auto;
    
    pointer-events: none;
    position: absolute;
    right: 0px;
    bottom: 0px;
    z-index: 999999;
}

.notify-box {
    padding: 4px;
    margin-top: -2px;
    
    cursor: pointer;
    font-size: 20px;
    
    pointer-events: all;
    box-sizing: border-box;
    line-height: 24px;
    height: 36px;
    width: auto;
    
    color: #222;
    background: #888;
    border: #444 2px solid;
}

.notify-box.info {
    color: #222;
    background: #88F;
    border: #444 2px solid;
}

.notify-box.warn {
    color: #222;
    background: #FB8;
    border: #444 2px solid;
}

.notify-box.error {
    color: #222;
    background: #F44;
    border: #444 2px solid;
}