:root {
    --infoNotificationBackgroundPanelWidth: 0px;
}

.left {
    float: left;
}

.right {
    float: right;
}

.stretch {
    width: 100%;
    height: 100%;
}

.abbr {
    cursor: help;
    /* Useful but doesn't look that good */
    /* text-decoration: underline dotted var(--defaultBorderColor); */
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    
    overflow: hidden; /* Small screen? ¯\_(ツ)_/¯ */
    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var(--defaultTextColor);
    
    scrollbar-color: var(--scrollbarHandle) var(--scrollbarBackground);
}

*::-webkit-scrollbar {
    width: 5px;
}

*::-webkit-scrollbar-track {
    background: var(--scrollbarBackground);
}

*::-webkit-scrollbar-thumb {
    background: var(--scrollbarHandle);
}

textarea {
    font-family: inherit;
    font-size: inherit;
    
    word-break: keep-all;
}

ul {
    margin: 6px 0px 6px 0px;
    padding-left: 24px;
}

hr {
    border: none;
    border-top: var(--defaultBorderColor) solid 1px;
}

table {
    border-spacing: 0px;
    border-collapse: collapse;
    width: 100%;
}

tr {
    height: 24px;
}

td {
    padding: 0;
}

img.mini-button {
    width: 19px;
    height: 19px;
    margin: 4px 0px 0px 4px;
}

img.medium-button {
    width: 24px;
    height: 24px;
    margin: 0px 0px 0px 4px;
}

select {
    width: 100%;
    height: 23px;
    -webkit-appearance: menulist;
    
    background: var(--inputBackground);
    color: var(--inputText);
    
    border: none;
    
    outline: 1px var(--inputBorder) solid;
    outline-offset: -1px;
    
    box-sizing: border-box;
    font-size: 14px !important;
    font-family: inherit;
}

optgroup {
    background: var(--optgroupBackground);
    color: var(--inputText);
}

input {
    font-size: inherit;
    font-family: inherit;
    
    box-sizing: border-box;
    padding-left: 3px;
    height: 100%;
    background: var(--inputBackground);
    color: var(--inputText);
    border: 1px var(--inputBorder) solid;
    
    min-width: 12px;
}

button {
    border: 2px solid var(--inputBorder);
    background: var(--inputBackground);
    padding: 4px;
    font-size: 16px;
    
    color: var(--inputText);
}

button:hover {
    filter: brightness(1.2) contrast(1.2);
    
    outline: var(--buttonOutlineHover) 2px solid;
    outline-offset: -2px;
    
    color: var(--defaultTextColor);
}

button:active {
    filter: brightness(0.8) contrast(0.8);
    
    outline: var(--buttonOutlineActive) 2px solid;
    outline-offset: -2px;
    
    color: var(--defaultTextColor);
}

textarea {
    font-size: inherit;
    font-family: inherit;
    
    padding-left: 3px;
    height: calc(100% - 1px);
    background: var(--inputBackground);
    color: var(--inputText);
    border: 1px var(--inputBorder) solid;
}

textarea::selection {
    background: var(--textSelectionBackground);
    color: var(--textSelectionColor);
}

input:disabled {
    background: var(--disabledInputBackground);
    color: var(--defaultTextColor);
    border: 1px var(--errorNotificationBackground) solid;
    cursor: not-allowed;
}

input::selection {
    background: var(--textSelectionBackground);
    color: var(--textSelectionColor);
}

input[type="checkbox"] {
    box-sizing: border-box;
    appearance: none;
    -webkit-appearance: none;
    margin: 2px auto 1px auto;
    width: 19px;
    height: 19px;
    background: var(--checkboxDisabled);
    border: 1px var(--checkboxBorder) solid;
    outline: none;
}

input[type="checkbox"]:checked {
    background: var(--checkboxEnabled);
}

input[type="checkbox"]:disabled {
    border: 2px var(--errorNotificationBackground) dashed;
    cursor: not-allowed !important;
}

span.checkbox-label {
    position: relative;
    top: -4px;
    left: 8px;
    margin-right: 8px;
}

.clickable-text {
    display: block;
    width: 100%;
    height: 100%;
    
    cursor: pointer;
    background: var(--inputBackground);
    padding: 2px;
    
    border: 1px solid var(--inputBorder);
    box-sizing: border-box;
    
    overflow: hidden;
    white-space: nowrap;
    
    color: var(--inputText);
}

.clickable-text:hover {
    filter: brightness(1.2) contrast(1.2);
    
    outline: var(--buttonOutlineHover) 2px solid;
    outline-offset: -2px;
    
    color: var(--defaultTextColor);
}

.clickable-text:active {
    filter: brightness(0.8) contrast(0.8);
    
    outline: var(--buttonOutlineActive) 2px solid;
    outline-offset: -2px;
    
    color: var(--defaultTextColor);
}

/**/

#option-row {
    width: 100vw;
    height: 40px;
    padding: 4px;
    box-sizing: border-box;
    background: var(--optionRowBackground);
    
    display: grid;
    grid-template-columns: 36px 36px 36px 36px 36px 36px 36px 36px 36px auto 4px 36px 36px 32px;
    grid-template-rows: 32px;
    grid-template-areas:
        "la lb lc ld le lf lg lh li ss .  ra rb rc"
    ;
}

.flex-spacer {
    /* Site width - padding - other grid fields */
    max-width: calc(100vw - 8px - 396px);
    background: var(--defaultBackgroundColor);
    line-height: 28px;
    font-size: 20px;
    text-align: center;
}

.option-container > img {
    width: 32px;
    height: 32px;
}

/**/

.option-button-disabled {
    filter: brightness(0.66) contrast(0.66);
    cursor: not-allowed;
}

.option-button {
    cursor: pointer;
    background: var(--buttonBackground);
    outline: var(--buttonOutline) 2px solid;
    outline-offset: -2px;
}

.option-button:hover {
    filter: brightness(1.2) contrast(1.2);
    outline: var(--buttonOutlineHover) 2px solid;
    outline-offset: -2px;
}

.option-button:active {
    filter: brightness(0.8) contrast(0.8);
    outline: var(--buttonOutlineActive) 2px solid;
    outline-offset: -2px;
}

/**/

#list-container {
    width: calc(100% - var(--infoNotificationBackgroundPanelWidth));
    height: calc(100vh - 40px);
    background: var(--defaultBackgroundColor);
}

#content-container {
    display: flex;
    width: 100%;
}

#info-panel {
    position: relative;
    width: var(--infoNotificationBackgroundPanelWidth);
    height: calc(100vh - 40px);
    
    box-sizing: border-box;
    
    background: var(--sidePanelBackground);
    color: var(--sidePanelText);
    border-left: 1px var(--defaultBorderColor) solid;
    z-index: 200;
}

#info-panel h6 {
    margin: 2px 0px 8px 0px;
    font-size: 20px;
}

#info-panel-resize {
    position: absolute;
    width: 6px;
    height: 100%;
    
    left: 0px;
    top: 0px;
    
    cursor: ew-resize;
}

#info-panel-content {
    height: 100%;
    padding: 8px;
    box-sizing: border-box;
    
    overflow-x: hidden;
    overflow-y: auto;
}

.content-table {
    white-space: nowrap;
    overflow: auto;
    
    height: 100%;
    width: auto;
    background: var(--tableBackgroundColor);
    color: white;
}

.content-column {
    position: relative;
    display: inline-block;
    white-space: normal;
    top: 24px;
    
    width: 400px;
    height: auto;
}

.content-column-resizer {
    position: absolute;
    top: 0px;
    right: -2px;
    
    width: 8px;
    height: 24px;
    
    cursor: ew-resize;
}

.content-header-container {
    z-index: 99;
    position: fixed;
    white-space: nowrap;
    
    height: 24px;
}

.content-header {
    position: relative;
    display: inline-block;
    white-space: pre;
    word-break: break-all;
    
    box-sizing: border-box;
    border-color: var(--tableBorderColor);
    border-style: solid;
    border-width: 0px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    
    width: 100%;
    height: 24px;
    padding: 2px 4px 2px 4px;
    line-height: 19px;
    font-size: 16px;
    
    overflow: hidden;
    cursor: pointer; /* Now you can click it to sort column */
    
    background: var(--headerBackground);
    color: var(--headerText);
}

.sortAsc {
    background: var(--sortAscending);
}

.sortDesc {
    background: var(--sortDescending);
}

.content-cell {
    box-sizing: border-box;
    border-color: var(--tableBorderColor);
    border-style: solid;
    border-width: 0px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    
    width: 100%;
    height: 24px;
    
    /* Somehow this one screws up input height, even when it's overridden */
    /* line-height: 19px; */
    font-size: 16px;
    overflow: hidden;
    color: var(--defaultTextColor);
}

.content-cell-content {
    box-sizing: border-box;
    overflow: hidden;
    word-break: break-all;
    
    text-align: inherit;
    font-size: inherit;
    
    width: 100%;
    height: 100%;
    padding: 2px 4px 2px 4px;
    white-space: pre;
}

.content-cell-edit {
    white-space: normal;
}

div.content-cell-edit {
    background: var(--editedCellBackbround);
}

input.content-cell-content {
    padding-left: 3px;
}

.selected {
    background: var(--rowSelection) !important;
}

.selected.last {
    background: var(--rowSelectionMajor) !important;
}

.selected.hideCell {
    color: var(--hiddenCellColor) !important;
    background: var(--hiddenCellColor) !important;
}

.selected.last.hideCell {
    color: var(--hiddenCellColor) !important;
    background: var(--hiddenCellColor) !important;
}

.hideCell {
    color: var(--hiddenCellColor) !important;
    background: var(--hiddenCellColor) !important;
}

.content-cell:nth-child(even) {
    background: var(--rowEven);
}

.content-cell:nth-child(odd) {
    background: var(--rowOdd);
}

/**/

.fullscreen-box {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 100%;
    height: 100%;
    
    z-index: 998;
}

.fullscreen-grayout {
    position: absolute;
    
    width: 100%;
    height: 100%;
    
    background: var(--modalOcclusionBackground);
}

.transparent {
    background: none;
}

.fullscreen-content {
    z-index: 999;
    
    background: var(--modalBackground);
    border: var(--defaultBorderColor) 2px solid;
    padding: 8px;
    
    width: auto;
    height: auto;
}

#save-box > div.fullscreen-content > div {
    width: auto;
    height: 64px;
    margin-bottom: 8px;
    padding-right: 8px;
}

#save-box > div.fullscreen-content > div:last-child {
    margin-bottom: 0;
}

#save-box > div.fullscreen-content > div img {
    width: 64px;
    height: 64px;
    float: left;
}

#save-box > div.fullscreen-content > div div {
    line-height: 64px;
    float: left;
    font-size: 24px;
    padding-left: 8px;
}

#open-box > div.fullscreen-content > div {
    width: auto;
    height: 64px;
    margin-bottom: 8px;
    padding-right: 8px;
}

#open-box > div.fullscreen-content > div:last-child {
    margin-bottom: 0;
}

#open-box > div.fullscreen-content > div img {
    width: 64px;
    height: 64px;
    margin-left: 8px;
    float: left;
}

#open-box > div.fullscreen-content > div img:first-child {
    margin-left: 0;
}

#open-box > div.fullscreen-content > div div {
    line-height: 64px;
    float: left;
    font-size: 24px;
    padding-left: 8px;
}

#cache-box {
    z-index: 9999;
}

#cache-box > div.fullscreen-content {
    width: 800px;
    height: 600px;
    padding: 0;
    
    font-size: 32px;
    
    text-align: center;
}

#cache-box > div.fullscreen-content > div {
    width: 800px;
    height: 560px;
    
    background: var(--defaultBackgroundColor);
    padding-top: 2px;
    
    display: flex;
    flex-direction: column;
    
    overflow-y: auto;
}

#cache-box > div.fullscreen-content > div div {
    width: calc(100% - 4px);
    height: 32px;
    min-height: 32px;
    
    position: relative;
    margin: 0px 2px 2px 2px;
    
    line-height: 28px;
    font-size: 20px;
    
    box-sizing: border-box;
    background: var(--defaultBackgroundColor);
    border: var(--defaultBorderColor) 2px solid;
    
    word-break: break-all;
    white-space: pre;
    overflow: hidden;
}

.cache-option-button {
    position: absolute;
    width: 24px;
    height: 24px;
    margin: 2px 2px 0px 0px;
}

#about-box h1 {
    margin: 8px;
}

#about-box a {
    display: block;
    margin: auto;
    font-size: 24px;
    margin-bottom: 4px;
}

#about-box hr {
    border: var(--defaultBorderColor) solid 1px;
    margin: 8px -8px 8px -8px;
}

/* ModelSelector.ts & PlumeSelector.ts */

.modal-selector-root {
    z-index: 9999;
}

.modal-selector-root > div.fullscreen-content {
    max-width: 1600px;
    width: calc(100% - 10vh);
    height: 90vh;
    padding: 0;
    
    font-size: 32px;
    
    text-align: center;
    
    overflow-x: hidden;
    overflow-y: auto;
}

.modal-selector {
    padding: 0;
}

.modal-selector > div {
    box-sizing: border-box;
    
    width: 100%;
    height: 100px;
    float: left;
    
    outline-color: var(--inputBorder);
    outline-width: 2px;
    outline-offset: -1px;
    outline-style: solid;
    
    margin: 0;
    padding: 0;
    
    font-size: 16px;
    
    display: grid;
    grid-template-columns: 100px auto;
    grid-template-rows: auto;
    grid-template-areas: "div img";
}

#plume-selector-content > div {
    height: 75px;
}

.modal-selector > div > span {
    grid-area: div;
    border-right: 2px solid var(--defaultBorderColor);
}

@media only screen and (max-width: 700px) {
    .modal-selector > div {
        width: 100%;
    }
}

@media only screen and (min-width: 700px) and (max-width: 1100px) {
    .modal-selector > div {
        width: 50%;
    }
}

@media only screen and (min-width: 1100px) and (max-width: 1500px) {
    .modal-selector > div {
        width: 33.33333333%;
    }
}

@media only screen and (min-width: 1500px) {
    .modal-selector > div {
        width: 25%;
    }
}

#plume-selector-content > div {
    width: 100% !important;
}

.modal-selector > div > div {
    grid-area: img;
    width: 100%;
    overflow: hidden;
}

.modal-selector > div > div > img {
    height: 100px;
    float: left;
    pointer-events: none; /* So that root div of the img will catch the event */
}

#plume-selector-content > div > div > img {
    height: 75px;
}

/**ModelSelector.ts**/

#export-box > div.fullscreen-content {
    display: flex;
    flex-direction: column;
    
    width: 800px;
    height: 600px;
}

#export-box-container {
    width: 100%;
    height: 100%;
    
    overflow-x: hidden;
    overflow-y: auto;
}

#export-box-container > div {
    width: 100%;
    height: 32px;
    
    padding-right: 4px;
    box-sizing: border-box;
    line-height: 32px;
    
    background: var(--defaultBackgroundColor);
    margin-top: 2px;
}

#export-box-container > div > span.left {
    width: 75%;
    padding-left: 4px;
    overflow: hidden;
    display: block;
    word-break: keep-all;
    border-right: 1px solid var(--defaultBorderColor);
}

/**/

.notify-container {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
    
    width: auto;
    height: auto;
    
    pointer-events: none;
    position: absolute;
    right: 0px;
    bottom: 0px;
    z-index: 999999;
}

.notify-box {
    padding: 4px;
    margin-top: -2px;
    
    cursor: pointer;
    font-size: 20px;
    
    pointer-events: all;
    box-sizing: border-box;
    line-height: 24px;
    height: 36px;
    width: auto;
}

.notify-box.info {
    color: var(--notificationTextColor);
    background: var(--infoNotificationBackground);
    border: var(--defaultBorderColor) 2px solid;
}

.notify-box.warn {
    color: var(--notificationTextColor);
    background: var(--warnNotificationBackground);
    border: var(--defaultBorderColor) 2px solid;
}

.notify-box.error {
    color: var(--notificationTextColor);
    background: var(--errorNotificationBackground);
    border: var(--defaultBorderColor) 2px solid;
}

/**/

.chartElement {
    position: relative;
    width: 100%;
    height: 417px;
    
    padding: 8px;
    box-sizing: border-box;
    
    border-bottom: var(--defaultBorderColor) solid 1px;
    background: var(--tableBackground);
}

.chartBackground {
    position: absolute;
    top: 8px;
    left: 8px;
    
    z-index: 1;
}

.chartLines {
    position: absolute;
    top: 8px;
    left: 8px;
    
    z-index: 2;
}

.chartPoints {
    position: absolute;
    top: 8px;
    left: 8px;
    
    width: calc(100% - 16px);
    height: 400px;
    
    z-index: 3;
    /* overflow: hidden; */
}

.chartPoint {
    position: absolute;
    box-sizing: border-box;
    
    width: 10px;
    height: 10px;
    
    background: rgba(128, 64, 255, 0.25);
    border: 1px solid var(--tableBorder);
    border-radius: 9999px;
    
    cursor: pointer;
}

.chartPoint.chartPointActive {
    border: 2px solid var(--tableRed);
    background: rgba(255, 128, 64, 0.25);
}

.chartDetails {
    display: grid;
    width: 100%;
    height: 232px;
    box-sizing: border-box;
    
    padding: 4px 5px 4px 4px;
    
    grid-template-columns: 50% 50%;
    grid-template-rows: 24px 4px 24px 4px auto;
    grid-template-areas:
        "a b"
        ". ."
        "c d"
        ". ."
        "e e"
    ;
}

.chartDetails span {
    margin: 3px;
}

.chartNormalizeButton {
    padding: 0;
    margin-right: 2px;
}

.chartRemovePointButton {
    padding: 0;
    margin-left: 2px;
}

.chartTableContainer {
    width: 100%;
    height: 100%;
    
    padding-right: 4px;
    overflow-y: auto;
}

.chartTable {
    width: 100%;
    height: auto;
}

.chartTableRowActive {
    filter: brightness(0.7);
}

.chartTableRowInput {
    height: 24px;
}

.chartTableRowButton {
    margin: 0 !important;
}

/**/

.propulsionContainer {
    display: grid;
    height: 99px;
    padding: 0px;
    text-align: right;
    line-height: 23px;
    
    grid-template-columns: 87px 3px auto 24px;
    grid-template-rows: 24px 24px 3px 24px 24px;
    grid-template-areas: 
        "tl .  ti tc"
        "ml .  mi mc"
        ".  .  .  . "
        "vl .  vi sc"
        "sl .  si sc"
    ;
}

.propulsionContainer input[type="checkbox"] {
    height: 100%;
    width: 100%;
    
    margin: 0;
    cursor: pointer;
}

/**/

#custom-styles-container {
    max-height: 500px;
    overflow-y: auto;
    overflow-x: hidden;
}

#custom-styles-reload {
    margin: 6px 0px 6px 0px;
}

#styles-custom input {
    width: 300px;
}