:root {
    --sidePanelBackground: #B94;
    --sidePanelText: #210;
    --headerText: #210;
    --headerBackground: #B908;
    --modalBackground: #CA4;
    --modalOcclusionBackground: #4208;
    --hiddenCellColor: #860;
    --inputBorder: #222;
    --inputText: #210;
    --inputBackground: #BB88;
    --selectBorder: #222;
    --selectText: #210;
    --selectBackground: #BB6;
    --disabledInputBackground: #B40B;
    --optgroupBackground: #994;
    --tableTextColor: #210;
    --tableBackgroundColor: url(../img/Photos/Sunset.jpg);
    --tableBorderColor: #B428;
    --optionRowBackground: #BB4;
    --defaultBackgroundColor: #B94;
    --defaultBorderColor: #431;
    --defaultTextColor: #210;
    --rowEven: #BB63;
    --rowOdd: #FF83;
    --checkboxBorder: #222;
    --checkboxDisabled: #0008;
    --checkboxEnabled: #DB2B;
    --textSelectionBackground: #862;
    --textSelectionColor: #000;
    --rowSelection: #B404;
    --rowSelectionMajor: #8006;
    --editedCellBackbround: #FFF2;
    --notificationTextColor: #222;
    --infoNotificationBackground: #88F;
    --warnNotificationBackground: #FB8;
    --errorNotificationBackground: #F44;
    --sortAscending: linear-gradient(180deg, var(--headerBackground), #F20);
    --sortDescending: linear-gradient(180deg, #F20, var(--headerBackground));
    --thrustCurveTableBackground: #FF84;
    --thrustCurveTableText: #000;
    --thrustCurveTableBorder: #000;
    --thrustCurveTableDistinct: #210;
    --thrustCurveTableRegular: #666;
    --thrustCurveTableRed: #F00;
    --thrustCurveTableLine: #531;
    --buttonBackground: #BB6;
    --buttonOutline: #840;
    --buttonOutlineHover: #800;
    --buttonOutlineActive: #F00;
    --scrollbarHandle: #FB48;
    --scrollbarBackground: #6638;
}
